@import '../../styles/variables.scss';

.b2tag {
    height: 25px;
    padding: 5px 12px;
    border: none;
    background-color: $color-green;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: $color-white;
    cursor: pointer;

    &_disabled {
        background-color: $color-grey;
    }
}