@import '../../styles/variables.scss';

.b2back {
    position: relative;
    width: 56px;
    height: 15px;
    border: none;
    background: transparent;
    font-size: 12px;
    line-height: 15px;
    color: $color-green-dark;
    text-align: end;
    cursor: pointer;

    &::before {
        position: absolute;
        content:'';
        width: 9.2px;
        height: 15px;
        left: 0px;
        top: 0px;
        background-image: url('../../assets/icons/left.svg');
        background-repeat: no-repeat;
    }
}