@import '../../styles/variables.scss';

.b2multiselect {
  width: 445px;
  font-size: 14px;
  line-height: 17px;
  color: $color-black;
  display: block;
  margin: 0 auto;
  cursor: pointer;

  &__legend {
    padding-left: 2px;
    padding-right: 2px;
  }

  &__header {
    width: 445px;
    color: $color-grey;
    border: 2px solid $color-green-background;
    border-radius: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 16px top 50%, 0 0;
    background-size: 10px, 6px;
    background-image: url('../../assets/icons/down.svg');

    &_close {
        background-image: url('../../assets/icons/up.svg');
    }
  }

  &__list {
    border: 2px solid $color-green-background;
    box-sizing: border-box;
    border-radius: 10px;
    width: 445px;
    list-style: none;
    padding: 30px;
    margin: 0;
    background-color: $color-white;
  }

  &__item {
    //height: 40px;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 25px;
//margin: 30px;
  }

  &__item:last-child {
    margin-bottom: none;
  }

}