
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-family: $ff; */
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Roboto:wght@400;700&display=swap');

html {
    height: 100%;
    width: $breakpoint-lg;
    font-family: 'Montserrat', 'Roboto', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $color-black;
}

body {
    font-size: 1rem;
    line-height: 1.5;
}

h1 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 2rem;
    padding: 0;
    margin: 0;
}

.v-application ol, .v-application ul {
    padding: 0;
}

li {
    padding: 0;
    margin: 0;
    list-style: none;
}

