@import '../../styles/variables.scss';

.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    s
    .btn {
      &.green-color {
        width: 200px;
      }
    }

    &__form {
      width: 100%;
      padding: 0 50px;

      .btn {
        margin-bottom: 24px;
      }
    }

    &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: opacity 0.5s ease-in-out, transform 1s ease-in-out 0.5s;
      opacity: 0;
      transform: translate(0, 100%);
      margin-bottom: 44px;

      &.animated {
        opacity: 1;
        transform: translate(0, 00);
      }
    }

    .error--text {
      .v-text-field__details {
        position: absolute;
        left: 8px;
        top: 84%;
        background: #fff;
        padding: 0 4px !important;
      }
    }

    &__btns {
      display: flex;
      flex-direction: column;
      align-items: center;

      &--signin {
        margin-top: 30px;
      }
    }

    &__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-decoration: none;
      text-align: center;
      color: #2D9CDB;
    }

    &__form {
      opacity: 0;
      transition: opacity .2s ease-in-out 1.5s;

      &.shown {
        opacity: 1;
      }
    }

    .checkbox-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }

    .checkbox {
      background: #FFFFFF;
      mix-blend-mode: normal;
      border: 1px solid #B0D3BF;
      box-sizing: border-box;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      flex: 0 0 auto;
      svg {
        transition: all .2s ease-in-out;
        opacity: 0;
      }

      &.active {
        svg {
          opacity: 1;
        }
      }
    }

    .checkbox-label {
      margin-left: 12px;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #223522;

      a {
        color: #2D9CDB;
        text-decoration: underline;
      }
    }

    &__sublogo {
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: $color-green-dark;
    }

    &__input {
        margin-bottom: 10px;
        }
  }