@import '../../styles/variables.scss';

.b2checkbox {
    display: flex;
    justify-content: center;
    align-items: center;    

    &__input {
        width: 25px;
        height: 25px;
        background-color: $color-green-light;
        border-radius: 50%;
        cursor: pointer;
        appearance: none;
        
        &:checked {
            background: #D7E6DD;
            border-radius: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                background: $color-blue-dark;
                border: 2px solid $color-blue-dark;
                box-sizing: border-box;
                box-shadow: 0px 0px 5px $color-blue-dark;
                border-radius: 50%;
                z-index: 1;
            }
        }

    }

    &__label {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        margin-left: 15px;
        cursor: pointer;
    }
}